/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
  height: calc(100vh - 60px);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mainContent {
  animation: mainContentFadeIn 2s forwards 0s;
  transition: opacity 0.5s;
  opacity: 1;
}

@keyframes mainContentFadeIn {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**
  Ripple animation
 */
@mixin ripple {
  position: absolute;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  width: 100vh;
  height: 100vh;
  transform: translate(-50%, -50%);
  animation: rippleExpand 1.5s ease-out;
  opacity: 0;
  pointer-events: none;
}


.rippleRight {
  @include ripple;
  top: 60vh;
  left: 80vw;
  animation-delay: 0.5s;
}

.rippleLeft {
  @include ripple;
  top: 30vh;
  left: 20vw;
  animation-delay: 1s;
}

@keyframes rippleExpand {
  from {
    width: 1vh;
    height: 1vh;
    opacity: 1;
  }
  to {
    width: 100vh;
    height: 100vh;
    //opacity: 0;
  }
}


.liquid {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100vw;
  background: #7092A5;
  opacity: 0.7;

  &.startTravel {
    animation: liquidFill 1.5s ease-in-out forwards;
  }
}

@keyframes liquidFill {
  from {
    height: 0;
  }
  20% {
    height: 40vh;
  }
  50% {
    height: 10vh;
    background: #7092A5;
    opacity: 0.7;
  }
  to {
    height: 400vh;
    animation-timing-function: ease-in;
    background: #18191a;
    opacity: 1;
  }
}

.bubble {
  position: absolute;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.3);
  width: 10vh;
  height: 10vh;

}

.startTravel .bubble {
  animation: bubbleDarken 1.5s ease-out forwards;
}

@keyframes bubbleDarken {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(-40vh);
  }
  50% {
    transform: translateY(-20vh);
    opacity: 1;
  }
  80% {
    opacity: 0.5
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
