
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #8D95B9;
    --ifm-color-primary-dark: #8790b4;
    --ifm-color-primary-darker: #7a82a8;
    --ifm-color-primary-darkest: #656e95;
    --ifm-color-primary-light: #959dc1;
    --ifm-color-primary-lighter: #a7afd4;
    --ifm-color-primary-lightest: #bec5e5;
    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
    background-color: rgb(231, 237, 255);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
}

